body {
  background-color: #343a40;
  box-sizing: border-box;
}

a {
  color: #fff;
}

a:hover {
  color: #ddd;
  text-decoration: none;
}

p {
  color: #fff;
}

.content-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.result {
  padding: 60px 20px 20px;
  width: 100%;
}

.result a {
  color: #343a40;
}

.submit-color {
  background-color: #010202;
  color: white;
  opacity: 0.9;
  transition: all 0.4s;
  margin: 0 auto;
}

.submit-color:hover {
  opacity: 1.0;
}

.submit-center {
  text-align: center;
  margin-top: 30px;
}

footer {
  background-color: #343a40;
  text-align: center;
}

.card-deck.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.card-deck.row .card {
  flex: 0 0 25%;
  max-width: 21%;
  box-sizing: border-box;
  margin-bottom: 20px;
  min-width: 0;
  background: #fff;
}

.card {
  border-radius: 0;
}

@media screen and (max-width:576px) {

  #page-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #FFA500;
  }

  #page-top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}